
.node-type-blog img.story-image-full {
    max-width: 100%;
    width: 100% !important;
    height: auto;
    vertical-align: bottom;
}

/***************************
Data Story Panels
***************************/
.view-data-stories .views-row {
	margin-bottom: 1.75em;
}
.view-data-stories .views-row:nth-of-type(5n+5) {
  clear: left;
}
.view-data-stories .more-link {
  clear: both;
  display: block;
  font-weight: bold;
  margin: 0 0 2em;
  text-align: right;
}
.pane-data-stories-panel-pane-1 .pane-content {
	margin-left: -15px;
	margin-right: -15px;
}
#main .views-field-field-image img.latest-stories {
	/* To Do: fix this in nuboot_radix */
	max-width: 100% !important;
}

/***************************
Data Story Page
***************************/
.view-stories .view-header {
	margin-bottom: 1em;
}
.view-stories .views-row img {
	width: 100%;
	height: auto;
	margin-top: 1.5em;
}
.view-stories .views-field-field-tags {
	margin: 1em 0 2em;
}
.view-stories .more-link {
  clear: both;
  display: block;
  font-weight: bold;
  margin: 1em 0 2em;
  text-align: right;
}